h1  {
  text-align: left;
  font-weight: bold;
  color: black;
  font-size: 90px;
}

h2  {
  text-align: left;
  font-weight: transparent;
  color: gray;
  font-size: small;
}

/* h3{
  text-align: left;
  font-weight: bold;
  color: black;
  font-size: small;
} */

